*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    background-color: rgb(30, 16, 77);
    color: aliceblue;
    font-family: 'Poppins', sans-serif;


}
nav{
    display: flex;
    background-color: rgb(30, 9, 107);
    align-items:center;
    height: 68px;
    justify-content: space-around;
    cursor: pointer;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin-inline: 60px;
}
.right{
    margin-left: 60px;
}